<!DOCTYPE html>
{% load static %}
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>World Of Games</title>
    <link rel="stylesheet" type="text/css" href="{% static '/css/style.css' %}">
</head>
<body>
    <h1>Welcome to World Of Games</h1>
    <header>
        <div>
            <li>
                <a href="/game_picker">Game Picker</a>
            </li>
        </div>
    </header>
    <p>Hello traveller, what is your name?</p>
    <input type="text">
    <button type="submit">Start</button>
</body>
</html>