<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Game Picker</title>
    <link rel="stylesheet" type="text/css" href="{% static '/css/style.css' %}">
</head>
<body>
    <h1>Game Picker</h1>
    <header>
        <div>
            <li>
                <a href="/">Back</a>
                <a href="/guess_game">Guess Game</a>
                <a href="/memory_game">Memory Game</a>
                <a href="/currency_roulette">Currency Roulette</a>
            </li>
        </div>
    </header>
</body>
</html>